body{
    background-color: #000000a2;
    /* background-image: url(RLbackground.jpg);
    background-repeat: no-repeat;
    background-size: cover; */
}

#Title{
    text-align: center;
    color: #6e0202;
    padding-right: 0px;
    padding-left: 0px;
}

#div1{
    
}

#txt1{
    padding-bottom: 16px;
}

footer{
   background-color: #6e0202;
}